.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;
    /* transition: background-color 1s; */
    /* transition: transform 3s;  */
    /* transition: transform 3s ease-out; */
    transition: transform 3s cubic-bezier(1,-0.27, 0, 1.61);


}
.box:hover{
    /* background-color:pink; */
    /* transform: rotate(45deg); */
    transform: translateX(500px);
}