.container{
    height: 215px;
    width: 100%;
    border: 2px solid red;
    background-color: yellow;
    padding: 50%;
}
.box{
    height: 212px;
    width: 212px;
    border: 2px solid green;
    background-color: aqua;
    animation-name: Arif;
    animation-duration: 5s;
    animation-iteration-count: 4;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    /* animation-direction: normal; */
    /* animation-fill-mode: ; */
}

@keyframes Arif{
    0%{
        width: 212px;
        background-color: orange;

    }

    50%{
        width: 50%;
        background-color: white;
    }

    100%{
        width: 100%;
        background-color: green;

    }
}

/* @keyframes Arif{

    from{
        width: 212px;

    }

    to{
        width: 800px;

    }

} */